<h1><%= I18n.t("fields.identification") %></h1>
<%= form_for(:session, :url => sessions_path) do |f| %>
    <div class="field">
        <%= f.text_field :email, :placeholder => I18n.t("label.email") %>
    </div>
    <div class="field">
        <%= f.password_field :password, :placeholder => I18n.t("label.password") %>
    </div>
    <div class="actions">
        <%= f.submit I18n.t("buttons.signin") %>
    </div>
<% end %>
<p><%= I18n.t("text.newtotchatter") %> <%= link_to I18n.t("buttons.signup"), signup_path %></p>