<h1><%= I18n.t("fields.settings") %></h1>

<%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages', :object => f.object %>
    <div class="field">
      <%= f.text_field :nom, :placeholder => I18n.t("label.name") %>
    </div>
    <div class="field">
      <%= f.text_field :email, :placeholder => I18n.t("label.email") %>
    </div>
    <div class="field">
      <%= f.password_field :password, :placeholder => I18n.t("label.password") %>
    </div>
    <div class="field">
      <%= f.password_field :password_confirmation, :placeholder => I18n.t("label.password_confirmation") %>
    </div>
    <div class="actions">
      <%= f.submit I18n.t("buttons.update") %>
    </div>
<% end %>

<div>
  <%= gravatar_for @user %>
  <a href="http://gravatar.com/emails"><%= I18n.t("buttons.change") %></a>
</div>