<h1><%= I18n.t("buttons.signup") %></h1>

<%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages', :object => f.object %>
    <div class="field">
      <%= f.text_field :nom, :placeholder => I18n.t("label.name") %>
    </div>
    <div class="field">
      <%= f.text_field :email, :placeholder => I18n.t("label.email") %>
    </div>
    <div class="field">
      <%= f.password_field :password, :placeholder => I18n.t("label.password") %>
    </div>
    <div class="field">
      <%= f.password_field :password_confirmation, :placeholder => I18n.t("label.password_confirmation") %>
    </div>
    <div class="actions">
      <%= f.submit I18n.t("buttons.signup") %>
    </div>
<% end %>