<header>
  <%= link_to logo, root_path %>
  <nav class="round menu">
    <ul>
      <li><%= link_to I18n.t("fields.home"), root_path %></li>
      <% if signed_in? %>
          <li><%= link_to I18n.t("fields.users"), users_path %></li>
          <li><%= link_to I18n.t("fields.profil"), current_user %></li>
          <li><%= link_to I18n.t("fields.settings"), edit_user_path(current_user) %></li>
      <% end %>
      <li><%= link_to I18n.t("fields.help"), help_path %></li>
      <% if signed_in? %>
          <li><%= link_to I18n.t("buttons.signout"), signout_path, :method => :delete %></li>
      <% else %>
          <li><%= link_to I18n.t("buttons.signin"), signin_path %></li>
      <% end %>
    </ul>
  </nav>
  <nav class="roundFlag allFlag">
    <%= link_to flagFR, root_path %>
    <%= link_to flagEN, root_path %>
  </nav>
</header>